# Telegram
SELLERS_BOT_TOKEN=
CLIENTS_BOT_TOKEN=

# OpenAI
OPENAI_TOKEN=

#PROXY
PROXY=

# Google Sheets
SERVICE_ACCOUNT_AXIOMAI=
SERVICE_ACCOUNT_AXIOMAI_EMAIL=
GOOGLE_SHEETS_URL=

# Redis 
REDIS_URL=


# Postgresql time web
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_DBNAME=