# Telegram
TG_BOT_TOKEN_STR= 
CHANNEL_USERNAME_STR=  

# OpenAI
OPENAI_TOKEN_STR=
GPT_MODEL_NAME_STR='chatgpt-4o-latest'
GPT_MAX_TOKENS=200
GPT_TEMPERATURE=0.5

#PROXY
PROXY=

# Google Sheets
SERVICE_ACCOUNT_JSON_STR=
GOOGLE_SHEETS_URL_STR=
ARTICLES_SHEET_STR="Артикулы"
INSTRUCTION_SHEET_NAME_STR="Инструкция"
BUYERS_SHEET_NAME_STR="Покупатели"


# Redis 
REDIS_URL=
REDIS_KEY_SET_TELEGRAM_IDS= # нужен для проверки новых/старых юзеров, кто писал акку
REDIS_KEY_USER_ROW_POSITION_STRING= # позиция юзера в гугл-таблице
REDIS_KEY_NM_IDS_REMAINS_HASH= # хэш-таблица с количеством остатков каждого артикула из листа "Артикулы"
REDIS_KEY_NM_IDS_ORDERED_LIST= # упорядоченный список артикулов из листа "Артикулы"
REDIS_KEY_NM_IDS_TITLES_HASH=