services:
  tgbot:
    image: ghcr.io/noobmaster-ru/telegram_sa_chat_bot:develop
    container_name: axiomai.tgbot.prod
    env_file:
      - ".env"
    volumes:
      - ./assets:/app/assets
      - ./sunny-might-477012-c4-04c66c69a92f.json:/app/sunny-might-477012-c4-04c66c69a92f.json:ro
    restart: unless-stopped
    command: "python -m axiomai.tgbot"
  observer:
    image: ghcr.io/noobmaster-ru/telegram_sa_chat_bot:develop
    container_name: axiomai.observer.prod
    env_file:
      - ".env"
    volumes:
      - ./sunny-might-477012-c4-04c66c69a92f.json:/app/sunny-might-477012-c4-04c66c69a92f.json:ro
    restart: unless-stopped
    command: "python -m axiomai.observer"
  postgres_migration:
    image: ghcr.io/noobmaster-ru/telegram_sa_chat_bot:develop
    container_name: axiomai.postgres.migration.prod
    env_file:
      - ".env"
    command: "alembic upgrade head"