on:
  push:
    branches:
      - master
      - develop

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: 0.7.3
          enable-cache: true
      - name: Install project dependencies
        run: uv sync --all-extras
      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: |
            ./.venv
            ~/.local/share/uv
          key: venv-${{ runner.os }}-${{ hashFiles('**/uv.lock') }}
  lint:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Restore cached venv
        uses: actions/cache@v4
        with:
          path: |
            ./.venv
            ~/.local/share/uv
          key: venv-${{ runner.os }}-${{ hashFiles('**/uv.lock') }}
      - name: Lint
        run: source ./venv/bin/activate && make lint
  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Restore cached venv
        uses: actions/cache@v4
        with:
          path: |
            ./.venv
            ~/.local/share/uv
          key: venv-${{ runner.os }}-${{ hashFiles('**/uv.lock') }}
      - name: Run tests with pytest
        run: ./.venv/bin/pytest
  build-and-push-image:
    runs-on: ubuntu-latest
    needs: [test, lint]
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}